<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Oracle-oxy_read" connectionString="#{Oracle-oxy_read}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus" connectionString="#{Oracle-nexus}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread" connectionString="#{NexusODS-oxyread}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin" connectionString="#{NexusODS-CipherAdmin}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread" connectionString="#{OXYLIFT-oxyread}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Production-US" connectionString="#{Oracle-oxy_read-Production-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Production-US" connectionString="#{Oracle-nexus-Production-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Production-US" connectionString="#{NexusODS-oxyread-Production-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Production-US" connectionString="#{NexusODS-CipherAdmin-Production-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Production-US" connectionString="#{OXYLIFT-oxyread-Production-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Production-CO" connectionString="#{Oracle-oxy_read-Production-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Production-CO" connectionString="#{Oracle-nexus-Production-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Production-CO" connectionString="#{NexusODS-oxyread-Production-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Production-CO" connectionString="#{NexusODS-CipherAdmin-Production-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Production-CO" connectionString="#{OXYLIFT-oxyread-Production-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Production-OM" connectionString="#{Oracle-oxy_read-Production-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Production-OM" connectionString="#{Oracle-nexus-Production-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Production-OM" connectionString="#{NexusODS-oxyread-Production-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Production-OM" connectionString="#{NexusODS-CipherAdmin-Production-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Production-OM" connectionString="#{OXYLIFT-oxyread-Production-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Test-US" connectionString="#{Oracle-oxy_read-Test-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Test-US" connectionString="#{Oracle-nexus-Test-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Test-US" connectionString="#{NexusODS-oxyread-Test-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Test-US" connectionString="#{NexusODS-CipherAdmin-Test-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Test-US" connectionString="#{OXYLIFT-oxyread-Test-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Test-CO" connectionString="#{Oracle-oxy_read-Test-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Test-CO" connectionString="#{Oracle-nexus-Test-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Test-CO" connectionString="#{NexusODS-oxyread-Test-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Test-CO" connectionString="#{NexusODS-CipherAdmin-Test-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Test-CO" connectionString="#{OXYLIFT-oxyread-Test-CO}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Test-OM" connectionString="#{Oracle-oxy_read-Test-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Test-OM" connectionString="#{Oracle-nexus-Test-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Test-OM" connectionString="#{NexusODS-oxyread-Test-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Test-OM" connectionString="#{NexusODS-CipherAdmin-Test-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Test-OM" connectionString="#{OXYLIFT-oxyread-Test-OM}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="Oracle-oxy_read-Development-US" connectionString="#{Oracle-oxy_read-Development-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Oracle-nexus-Development-US" connectionString="#{Oracle-nexus-Development-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-oxyread-Development-US" connectionString="#{NexusODS-oxyread-Development-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="NexusODS-CipherAdmin-Development-US" connectionString="#{NexusODS-CipherAdmin-Development-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OXYLIFT-oxyread-Development-US" connectionString="#{OXYLIFT-oxyread-Development-US}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>
